<section id="about" class="wrapper-price py-3 py-md-5">
  <div class="container-fluid">
    <h1 class=" title_h1 text-center title title_lined mb-3">О клинике</h1>
      <div class="row">
          <div class="col-md-6 my-3">
              <div class="content mb-3">
                  <p>Ветклиника «Здоровая лапка» имеет все необходимое оборудование для оказания оперативной и, самое главное, эффективной помощи животным. 
                    У нас есть цифровой рентген, УЗИ экспертного класса во всех филиалах, эндоскоп и собственная лаборатория для быстрой и глубокой диагностики, 
                    три операционных, включая микрохирургическую, стационар и отделение реанимации, 
                    а также врачи 18 специальностей, готовые сообща разбираться в самых сложных случаях. 
                    Вот почему клиенты, однажды получившие помощь в нашей клинике, возвращаются к нам снова!</p>
              </div>
          </div>
          <div class="col-md-6 my-3">
              <img src="https://static.tildacdn.com/tild3762-3865-4433-a132-333437633162/Cats-and-Dogs.jpg" alt="" class="full-width full">
          </div>
      </div>

  </div>
</section>