<section id="contacts" class="wrapper-price py-3 py-md-5">
    <div class="container-fluid">
        <h1 class="title_h1 text-center title title_lined mb-3">Контакты</h1>
        <div class="row">
            <div class="col-md-6 my-3 content contacts">
                <p><i class="fa fa-home" aria-hidden="true" target="_blank"></i> Адрес: г. Москва, проспект Маршала
                    Жукова, 35к1</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> Телефон <a href="tel:+74922373833">+7 499
                        342-12-56</a></p>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Часы работы: 10:00-21:00</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a
                        href="mailto:metelitsa33@yandex.ru">zdorovaya_lapka</a></p>
                <p><a href="https://vk.com/zdoravaya_lapka" target="_blank"><img src="../../assets/img/vk24.png"
                            alt="">ВКонтакте</a></p>
                <p><a href="https://t.me/+WqKcasdRe-VQyYasasd" target="_blank"><img src="../../assets/img/tg24.png"
                            alt="">Telegram</a></p>
            </div>
            <div>
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/prospekt_marshala_zhukova_35k1/Z04YcgBjQU0AQFtvfXt2dXVgbA==/?ll=37.473887%2C55.774938&utm_medium=mapframe&utm_source=maps&z=17.13" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.473887%2C55.774938&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjczNTI0NRJP0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINC_0YDQvtGB0L_QtdC60YIg0JzQsNGA0YjQsNC70LAg0JbRg9C60L7QstCwLCAzNdC6MSIKDULlFUIViRlfQg%2C%2C&z=17.13" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
        </div>
    </div>
</section>