<section id="reviews" class="reviews py-3">
    <div class="container-fluid">
        <h2 class="title_h1"><span>Отзывы посетителей</span></h2>
        <div class="row">
            <div class="review-content">
                <div>
                    <img src="../../assets/img/avatar.png" alt="">
                    <div class="">Анна</div>
                </div>
            </div>
            <div class="review-avatar">
                <p>Я очень благодарна данной ветеринарной клинике за заботу о моем питомце! 
                    Мы посещаем эту клинику уже несколько лет, и каждый раз наш опыт остается только положительным. 
                    Врачи здесь профессиональны и внимательны к деталям, они всегда готовы ответить на все наши вопросы и предложить наилучшие решения для здоровья нашего питомца. 
                    Персонал дружелюбный и заботливый, и атмосфера в клинике очень успокаивающая. Мы чувствуем, что наш питомец находится в надежных руках, и это дает нам покой. 
                    Спасибо за ваше превосходное обслуживание и заботу!</p>
            </div>
        </div>
    </div>
</section>